APP_DEBUG=
APP_ENV=
DB_CHARSET=
DB_HOST=
DB_NAME=
DB_PASS=
DB_USER=
MELIPAYAMAK_BODY_ID=
MELIPAYAMAK_PASSWORD=
MELIPAYAMAK_USERNAME=
OTP_EXPIRATION_SECONDS=
OTP_MAX_ATTEMPTS=
OTP_RATE_LIMIT_MAX_PER_WINDOW=
OTP_RATE_LIMIT_WINDOW_SECONDS=
OTP_RESEND_COOLDOWN=
UPLOAD_MAX_SIZE=